<card text-sm tooltip-card>
  <strong tooltip-name>@[tooltip.props.name]</strong>
  <hr />

  <!-- if tooltip.props.ticks -->
  <span tooltip-stat><strong>Wind up:</strong> @[tooltip.props.ticks] tick@[tooltip.props.ticks === 1 ? '' : 's']</span>
  <!-- /if -->

  <!-- if tooltip.props.basic !== undefined -->
  <span tooltip-tag basic="@[tooltip.props.basic]">@[tooltip.props.basic ? 'Basic' : 'Special']</span>
  <!-- /if -->

  <!-- if tooltip.props.description -->
  <p m-0 mt-2 text-xs tooltip-desc>@[tooltip.props.description]</p>
  <!-- /if -->
</card>
