<card text-sm tooltip-card>
  <strong tooltip-name>@[tooltip.props.name]</strong>
  <hr />

  <!-- if tooltip.props.ticks -->
  <span tooltip-stat><strong>Wind up:</strong> @[tooltip.props.ticks] tick@[tooltip.props.ticks === 1 ? '' : 's']</span>
  <!-- /if -->

  <!-- if tooltip.props.kind -->
  <span tooltip-tag @[tooltip.props.kind]>@[tooltip.props.kind === 'basic' ? 'Basic' : 'Special']</span>
  <!-- /if -->

  <!-- if tooltip.props.description -->
  <p m="0" mt="2" text-xs tooltip-desc>@[tooltip.props.description]</p>
  <!-- /if -->
</card>
