<card text-sm tooltip-card>
  <crow justify-between w="full">
    <strong tooltip-name>@[tooltip.props.name]</strong>
    <!-- if tooltip.props.level -->
    <span cinzel text-xs>level @[tooltip.props.level]</span>
    <!-- /if -->
  </crow>
  <hr />

  <!-- if tooltip.props.slotsIn -->
  <span tooltip-stat text-muted>@[tooltip.props.slotsIn]</span>
  <!-- /if -->

  <!-- if tooltip.props.stats.length -->
  <tooltip-stats>
    <!-- each tooltip.props.stats as stat -->
    <crow justify-between w="full">
      <strong>@[stat.label]</strong>
      <span lucky="@[stat.lucky]">@[stat.value]</span>
    </crow>
    <!-- /each -->
  </tooltip-stats>
  <!-- /if -->

  <!-- if tooltip.props.description -->
  <p m="0" mt="2" text-xs tooltip-desc>@[tooltip.props.description]</p>
  <!-- /if -->

  <!-- if tooltip.props.abilities.length -->
  <component
    src="/components/AbilityBar.html"
    abilities="@[tooltip.props.abilities]"
    small
    minimalistic
    dndDisabled
  ></component>
  <!-- /if -->
</card>

<style>
  tooltip-stats {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit) * 0.5);
  }

  tooltip-stats span[lucky] {
    color: var(--green-500);
  }
</style>
