<script type="module">
  import ABILITIES, { ALL_ABILITIES } from '/js/constants/ABILITIES.js';

  const state = {
    abilityChoices: Object.keys(ALL_ABILITIES),
    chosenAbility: 'punch',
    bars: [],
  };

  const compute = (chosen) => Array.from({ length: 12 }, (_, i) => {
    const ticks = i + 1;
    const ref = ABILITIES(chosen, false, { overrides: { ticks } });
    const h = ABILITIES(ref, true);
    return {
      abilities: [{
        name: h.name,
        icon: h.icon,
        ticks: h.ticks,
        basic: !!h.basic,
        tickStart: 0,
        overflow: false
      }],
      lastTick: h.ticks
    };
  });

  state.bars = compute(state.chosenAbility);
  component(state);

  const id = Object.keys(window.__vibeComponents).find(k => window.__vibeComponents[k] === state);
  const s = $[id];

  window.changeAbility = (value) => {
    s.chosenAbility = value;
    s.bars = compute(value);
  };
</script>

<crow vertical g-4 left>
  <component src="/components/TitleBar.html" title="Ability Scaling"></component>
  <hr />

  <select onchange="changeAbility(this.value)">
    <!-- each this.abilityChoices as choice -->
    <option value="@[choice]">@[choice]</option>
    <!-- /each -->
  </select>

  <crow vertical left g-4 w-full>
    <!-- each this.bars as bar, i -->
    <component src="/components/AbilityBar.html"
      abilities="@[bar.abilities]"
      lastTick="@[bar.lastTick]"
      small minimalistic dndDisabled>
    </component>
    <!-- /each -->
  </crow>
</crow>
