<ability-bar block w="full" px="1" py="2" small="@[small]">
  <ability-track block relative w="full" small="@[small]">
    <ability-grid w="full">
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
      <ability-cell></ability-cell>
    </ability-grid>

    <!-- if !dndDisabled -->
    <ability-marker-12 absolute></ability-marker-12>
    <!-- /if -->

    <!-- if !minimalistic -->
    <ability-marker-sequence absolute style="left: calc((100% / var(--grid-cells)) * @[lasttick])">
      <ability-marker-label absolute vertical right g="1">
        <strong>Ability&nbsp;sequence</strong>
        <span>@[lasttick]&nbsp;ticks</span>
      </ability-marker-label>
    </ability-marker-sequence>
    <!-- /if -->

    <ability-overlay absolute t="0" l="0" r="0" b="0">
      <!-- each abilities as ability -->
      <ability-segment
        relative
        flex
        f="none"
        dnd-item="@[!dndDisabled]"
        basic="@[ability.basic]"
        overflow="@[ability.overflow]"
        onmouseenter="showAbilityTooltip(this, '@[ability.id]', @[ability.ticks])"
        style="width: calc(((100% / var(--grid-cells)) * @[ability.ticks]) + 1px)"
      >
        <ability-icon w="full" h="full">
          <icon @[ability.icon]></icon>
          <ability-status-overlay absolute flex>
            <!-- each ability.statusEffects as effect -->
            <icon @[effect]></icon>
            <!-- /each -->
          </ability-status-overlay>
        </ability-icon>
      </ability-segment>
      <!-- /each -->
    </ability-overlay>
  </ability-track>
</ability-bar>

<style>
  ability-track {
    --grid-cells: 15;
  }

  ability-track[small] {
    --grid-cells: 12;
  }

  ability-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-cells), 1fr);
  }

  ability-grid ability-cell {
    display: block;
    aspect-ratio: 2 / 3;
    border: 1px dashed var(--gray-300);
    margin-left: -1px;
  }

  ability-track[small] ability-cell:nth-child(n + 13) {
    display: none;
  }

  ability-marker-12 {
    top: calc(var(--unit) * -2);
    bottom: calc(var(--unit) * -4);
    left: calc((100% / var(--grid-cells)) * 12);
    width: 1px;
    border-right: 1px solid var(--gray-500);
    transform: translateX(-0.5px);
    transition: all 200ms;
  }

  ability-marker-sequence {
    top: calc(var(--unit) * -2);
    bottom: calc(var(--unit) * -2);
    width: 1px;
    border-right: 1px dashed var(--gray-500);
    transform: translateX(-0.5px);
    transition: all 200ms;
  }

  ability-marker-label {
    bottom: 100%;
    right: calc(var(--unit) * 1);
    align-items: flex-end;
    text-align: right;
    font-size: calc(var(--unit) * 3);
    line-height: 0.9;
    white-space: nowrap;
  }

  ability-marker-label strong {
    color: var(--black);
    line-height: calc(var(--unit) * 3);
  }

  ability-overlay {
    border-radius: calc(var(--unit) * 2);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
  }

  ability-segment {
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: -1px;
    border: 1px solid var(--gray-500);
    background: var(--white);
    border-radius: calc(var(--unit) * 1);
    z-index: 10;
  }

  ability-segment[basic] {
    border-color: var(--gray-300);
    background: var(--gray-light);
    z-index: auto;
  }

  ability-segment[overflow] {
    border-color: var(--red-300);
    background: var(--red-100);
  }

  ability-icon {
    display: grid;
    place-items: center;
  }

  ability-icon {
    position: relative;
  }

  ability-icon > icon {
    grid-area: 1 / 1;
    font-size: clamp(calc(var(--unit) * 4), 3vw, calc(var(--unit) * 8));
  }

  ability-segment[basic] ability-icon > icon {
    color: var(--gray-400);
  }

  ability-segment[overflow] ability-icon > icon {
    color: var(--red-300);
  }

  ability-status-overlay {
    bottom: calc(var(--unit) * 0.5);
    left: calc(var(--unit) * 0.5);
    gap: calc(var(--unit) * 0.5);
  }
</style>
