<ability-inventory has-abilities="@[abilities.length > 0]">
  <!-- if abilities.length === 0 -->
  <span ability-inventory-empty>Abilities from equipped gear will appear here</span>
  <!-- /if -->
  <!-- each abilities as ability (ability.uuid) -->
  <ability-inventory-cell
    relative
    basic="@[ability.basic]"
    onmouseenter="showAbilityTooltip(this, '@[ability.id]', @[ability.ticks])"
  >
    <ability-inventory-ticks absolute>
      <span>@[ability.ticks]</span>
    </ability-inventory-ticks>
    <icon @[ability.icon]></icon>
    <ability-inventory-status absolute flex>
      <!-- each ability.statusEffects as effect -->
      <icon @[effect]></icon>
      <!-- /each -->
    </ability-inventory-status>
  </ability-inventory-cell>
  <!-- /each -->
</ability-inventory>

<style>
  ability-inventory {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(var(--unit) * 24);
    gap: calc(var(--unit) * 2);
    padding: calc(var(--unit) * 2);
    border: 1px solid var(--border);
    border-radius: calc(var(--unit) * 1);
    background: oklch(from var(--foreground) l c h / 0.03);
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: center;
  }

  ability-inventory[has-abilities] {
    align-items: flex-start;
    justify-content: flex-start;
  }

  [ability-inventory-empty] {
    color: var(--muted-foreground);
  }

  ability-inventory-cell {
    display: grid;
    place-items: center;
    width: calc(var(--unit) * 20);
    height: calc(var(--unit) * 20);
    flex: none;
    background: var(--white);
    border: 0.5px solid var(--gray-400);
    border-radius: calc(var(--unit) * 1);
  }

  ability-inventory-cell[basic] {
    background: var(--gray-100);
    border-color: var(--gray-300);
  }

  ability-inventory-cell > icon {
    grid-area: 1 / 1;
    font-size: clamp(calc(var(--unit) * 4), 3vw, calc(var(--unit) * 8));
  }

  ability-inventory-cell[basic] > icon {
    color: var(--gray-400);
  }

  ability-inventory-ticks {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: calc(var(--unit) * 8);
    height: calc(var(--unit) * 5);
    background: var(--white);
    border: 0.5px solid var(--gray-400);
    border-radius: calc(var(--unit) * 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: calc(var(--unit) * 3);
    line-height: 0;
  }

  ability-inventory-status {
    bottom: calc(var(--unit) * 1);
    left: calc(var(--unit) * 1);
    gap: calc(var(--unit) * 0.5);
  }
</style>
