<script type="module">
  component({
    mode: 'login',
    email: config.IS_DEV ? config.AUTO_EMAIL : ($.settings.rememberMe ? $.settings.savedEmail : ''),
    password: config.IS_DEV ? config.AUTO_PASSWORD : ($.settings.rememberMe ? $.settings.savedPassword : ''),
  });
</script>


<center-full auth-padding>
  <auth-scene w-full>
    <card auth-form glass>
      <!-- if this.mode === 'login' -->
      <component src="/components/Login.html" email="@[this.email]" password="@[this.password]">
      </component>
      <!-- /if -->

      <!-- if this.mode === 'register' -->
      <component src="/components/Register.html" email="@[this.email]" password="@[this.password]"
        mode="@[this.mode]"></component>
      <!-- /if -->

      <!-- if this.mode === 'forgot' -->
      <component src="/components/ForgotPassword.html" email="@[this.email]" mode="@[this.mode]">
      </component>
      <!-- /if -->

      <crow g-2 mt="4">
        <!-- if this.mode !== 'login' -->
        <button secondary type="button" onclick="$.this.mode = 'login'">
          Login
        </button>
        <!-- /if -->
        <!-- if this.mode !== 'register' -->
        <button secondary type="button" onclick="$.this.mode = 'register'">
          Register
        </button>
        <!-- /if -->
        <!-- if this.mode !== 'forgot' -->
        <button secondary type="button" onclick="$.this.mode = 'forgot'">
          Forgot password
        </button>
        <!-- /if -->
      </crow>
    </card>
  </auth-scene>
</center-full>