<script type="module">
  import config from '/js/config.js';
  import { notify } from '/js/actions.js';

  window.loadGameState = async (token) => {
    try {
      const { gameState, serverTimestampSnapshot } = await $.socket.sendAsync('user/authenticate', {
        token, clientVersion: '0.1.0', isDev: config.IS_DEV
      });
      if (gameState) {
        if (gameState.characters) $.characters = gameState.characters;
        if (gameState.inventory) $.inventory = gameState.inventory;
        if (gameState.experience) $.experience = gameState.experience;
        if (gameState.coins !== undefined) $.coins = gameState.coins;
        if (gameState.accountRewards) $.accountRewards = gameState.accountRewards;
      }
      if (serverTimestampSnapshot) {
        $.serverTimestampSnapshot = serverTimestampSnapshot;
        $.syncPerformanceNow = performance.now();
      }
    } catch (e) {
      notify(e);
      $.token = undefined;
    }
  };
</script>

<component src="/components/Modal.html" when="@[!socket]" dismiss="">
  <card auth-form glass>
    <crow g-2 text-muted>
      <spinner></spinner> Connecting to server
    </crow>
  </card>
</component>

<!-- if socket && !token -->
<component src="/components/Authorization.html"></component>
<!-- /if -->

<!-- if token -->
<slot></slot>
<!-- /if -->