<!-- if slot.empty -->
<crow brawler-slot-empty text-center w="full" f="none">
  <!-- if slot.index === 0 -->
  <h5>select a brawler</h5>
  <!-- /if -->
  <!-- if slot.index > 0 -->
  <h5>slot @[slot.index + 1]</h5>
  <!-- /if -->
</crow>
<!-- /if -->
<!-- if !slot.empty -->
<crow brawler-slot-filled left g="2" w="full" f="none" py="2" px="4">
  <brawler-slot-avatar glass block w="12" h="12" f="none" overflow-hidden>
    <img data-src="/static/images/races/@[slot.mugshot]" alt="" brawler-slot-img w="full" h="full" />
  </brawler-slot-avatar>
  <crow vertical left brawler-slot-info>
    <span font-medium text-sm>@[slot.name]</span>
    <brawler-slot-abilities flex>
      <!-- each slot.abilities as ab -->
      <brawler-slot-ability flex f="none" style="width: calc(12px * @[ab.ticks])">
        <icon @[ab.icon]></icon>
      </brawler-slot-ability>
      <!-- /each -->
    </brawler-slot-abilities>
  </crow>
</crow>
<!-- /if -->

<style>
  [brawler-slot-empty] {
    height: calc(calc(var(--unit) * 19.5));
    border: 1px dashed var(--border);
  }

  [brawler-slot-filled] {
    height: calc(calc(var(--unit) * 19.5));
    border: 1px solid var(--border);
    background: rgba(255, 255, 255, 0.3);
  }

  brawler-slot-avatar {
    border-radius: calc(calc(var(--unit) * 1));
    border: 1px solid rgba(75, 85, 99, 1);
  }

  [brawler-slot-img] {
    object-fit: cover;
  }

  [brawler-slot-info] {
    flex: 1;
    min-width: 0;
    overflow: hidden;
  }

  brawler-slot-abilities {
    border: 0.5px solid rgb(120, 113, 108);
    border-radius: 0 0 calc(calc(var(--unit) * 1)) calc(calc(var(--unit) * 1));
    background: rgb(214, 211, 209);
    overflow: hidden;
    max-width: calc(calc(var(--unit) * 45));
  }

  brawler-slot-ability {
    align-items: center;
    justify-content: center;
    height: calc(calc(var(--unit) * 5));
    border-right: 0.5px solid rgb(120, 113, 108);
    color: rgb(120, 113, 108);
    font-size: calc(calc(var(--unit) * 3));
  }

  brawler-slot-ability:last-child {
    border-right: none;
  }
</style>
