<crow coins g-1 flex-none>
  <!-- Future: multi-denomination (copper/silver/gold/platinum) breakdown
  <crow coin-line="@[amount % 100]" g-1 flex-none>
    @[amount % 100]×<icon coin coin-copper></icon>
  </crow>
  <crow coin-line="@[Math.floor((amount % 10000) / 100)]" g-1 flex-none>
    @[Math.floor((amount % 10000) / 100)]×<icon coin coin-silver></icon>
  </crow>
  <crow coin-line="@[Math.floor((amount % 1000000) / 10000)]" g-1 flex-none>
    @[Math.floor((amount % 1000000) / 10000)]×<icon coin coin-gold></icon>
  </crow>
  -->
  <crow coin-line="@[Math.floor(amount / 100)]" g-1 flex-none>
    @[Math.floor(amount / 100)]×<icon coin coin-platinum></icon>
  </crow>
  <span coin-empty="@[amount]">-</span>
</crow>

<style>
  [coins] [coin-line="0"] {
    display: none;
  }
  [coins] [coin-empty]:not([coin-empty="0"]) {
    display: none;
  }
</style>
