<ability-bar
  block
  ability-bar="@[card.cardId]"
  style="--ability-bar-width: @[card.abilityBarWidth]px"
>
  <ability-bar-grid w="full" overflow-hidden>
    <!-- base layer -->
    <ability-row flex base>
      <!-- each card.abilityCells as cell -->
      <ability-cell style="--cell-width: @[cell.width]px">
        <icon @[cell.icon]></icon>
      </ability-cell>
      <!-- /each -->
    </ability-row>
    <!-- progress layer (clip-path wipe) -->
    <ability-row
      flex
      top
      stunned="@[card.isStunned]"
      style="--progress: @[Math.min (100, (card.individualProgress * 100))]%"
    >
      <!-- each card.abilityCells as cell -->
      <ability-cell style="--cell-width: @[cell.width]px">
        <icon @[cell.icon]></icon>
      </ability-cell>
      <!-- /each -->
    </ability-row>
  </ability-bar-grid>
</ability-bar>

<style>
  ability-bar {
    width: var(--ability-bar-width, calc(calc(var(--unit) * 36)));
    margin: 0 auto;
  }

  ability-bar-grid {
    display: grid;
    border-radius: 0 0 calc(calc(var(--unit) * 0.75)) calc(calc(var(--unit) * 0.75));
    border: 0.5px solid var(--stone-500);
  }

  ability-row {
    grid-area: 1/1;
    height: calc(calc(var(--unit) * 6));
    background: var(--stone-300);
  }

  ability-row[top] {
    background: var(--stone-500);
    clip-path: polygon(0 0, var(--progress, 0%) 0, var(--progress, 0%) 100%, 0 100%);
  }

  ability-row[top][stunned] {
    background: var(--gray-500);
  }

  ability-cell {
    flex: none;
    width: var(--cell-width, calc(calc(var(--unit) * 3)));
    height: 100%;
    display: grid;
    place-items: center;
    border-right: 0.5px solid var(--stone-500);
    position: relative;
  }

  ability-cell icon {
    font-size: calc(calc(var(--unit) * 3));
    --color: var(--stone-500);
  }

  ability-row[top] ability-cell {
    border-right-color: var(--stone-300);
  }

  ability-row[top] ability-cell icon {
    --color: var(--stone-300);
  }
</style>
