<hr w-full />

<crow up devbar sm py-4>
  <crow vertical left g-1 p-2>
    <button secondary onclick="document.dispatchEvent(new CustomEvent('pauseCombat'))">Pause
      combat</button>
    <button secondary onclick="document.dispatchEvent(new CustomEvent('resumeCombat'))">Resume
      combat</button>
    <span>Elapsed ms: @[elapsedMilliseconds.toFixed(0)]</span>
    <span>Duration: @[combat.duration]</span>
  </crow>
  <crow vertical left p-2>
    <span>My Server: @[new Date(serverTimestampSnapshot).toLocaleString()]</span>
    <crow vertical up left mt-2>
      <a href="/debug" secondary>Debug</a>
      <a href="/styleguide" secondary>Styleguide</a>
      <a href="/ability-scaling" secondary>Ability Scaling</a>
      <a href="/equipment-scaling" secondary>Equipment Scaling</a>
      <a href="/character-scaling" secondary>Character Scaling</a>
    </crow>
  </crow>
  <crow vertical left g-1 p-2>
    <crow g-1>
      <button secondary
        onclick="$.characters.forEach(c => { try { const ch = CHARACTERS(c, true); const s = calculateCombatStatsByCharacter(ch); c.overrides.combatStats.currentHealth = s.maxHealth; } catch {} }); $.characters = [...$.characters]">Heal
        party</button>
      <button secondary
        onclick="$.characters.forEach(c => { try { const ch = CHARACTERS(c, true); c.overrides.combatStats.currentHealth = ch.combatStats.currentHealth - 5; } catch {} }); $.characters = [...$.characters]">Damage
        party</button>
    </crow>
    <crow g-1>
      <button secondary onclick="$.experience += 40">Gain exp</button>
      <button secondary onclick="$.experience = 0">Reset exp</button>
    </crow>
    <crow g-1>
      <button secondary onclick="$.coins += 100">Gain coins</button>
      <button secondary onclick="$.coins = 0">Reset coins</button>
    </crow>
    <crow g-1>
      <button secondary onclick="$.bossHighscore += 1">Increase boss</button>
      <button secondary onclick="$.bossHighscore = 0">Reset boss</button>
    </crow>
    <button secondary onclick="$.characters = []">Reset characters</button>
    <button secondary onclick="$.accountRewards = 1">Reset rewards</button>
  </crow>
</crow>