<component src="/components/Modal.html" when="@[dialog]" dismiss="$.dialog = undefined">
  <card dialog-card>
    <p mb-4>@[dialog?.props?.text || 'Are you sure?']</p>
    <crow g-2 dialog-actions right>
      <button tertiary onclick="$.dialog = undefined">Cancel</button>
      <button primary
        onclick="if($.dialog?.props?.confirm) $.dialog.props.confirm(); $.dialog = undefined;">Confirm</button>
    </crow>
  </card>
</component>

<style>
  [battle-brawlers] [dialog-card] {
    min-width: calc(var(--unit) * 75);
    max-width: calc(var(--unit) * 100);
    border-radius: var(--radius);
  }
</style>