<script type="module">
  import { notify } from '/js/actions.js';

  window.authForgotPassword = async (email) => {
    try {
      await $.socket.sendAsync('user/password/request-reset', {
        email,
        url: window.location.origin
      });
      notify({ info: 'if an account was registered on that email address, check your email' });
      $.authMode = 'login';
    } catch (e) {
      notify(e);
    }
  };
</script>

<form onsubmit="event.preventDefault(); authForgotPassword($.email)">
  <crow g-2 mb-3>
    <input type="email" placeholder="Email" value="@[email]" oninput="$.email = this.value"
      required auth-input />
    <button primary type="submit">Submit</button>
  </crow>
  <p text-sm text-muted>
    <a href="#" primary onclick="event.preventDefault(); $.authMode = 'login';">
      Back to login
    </a>
  </p>
</form>
