<card dialog-card p="6" sm:p="2" relative>
  <button tertiary absolute t="1" r="1" dialog-close onclick="$.overlay = {}">
    <icon cross></icon>
  </button>

  <typography>
    <h3>Options</h3>
  </typography>

  <crow vertical g="4" mt="4">
    <crow justify-between w="full" align-center g="2">
      <span cinzel>Audio settings</span>
      <button
        secondary
        onclick="
          $.settings = {
            ...$.settings,
            volume: { master: 0.5, ambient: 0.25, sfx: 0.5, combat: 1 },
          }
        "
      >
        Reset to default
      </button>
    </crow>

    <audio-grid>
      <label>Master</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.05"
        value="@[settings.volume.master]"
        oninput="
          $.settings = { ...$.settings, volume: { ...$.settings.volume, master: +this.value } }
        "
      />

      <label>Ambient</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.05"
        value="@[settings.volume.ambient]"
        oninput="
          $.settings = { ...$.settings, volume: { ...$.settings.volume, ambient: +this.value } }
        "
      />

      <label>Sound effect</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.05"
        value="@[settings.volume.sfx]"
        oninput="$.settings = { ...$.settings, volume: { ...$.settings.volume, sfx: +this.value } }"
      />

      <label>Combat</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.05"
        value="@[settings.volume.combat]"
        oninput="
          $.settings = { ...$.settings, volume: { ...$.settings.volume, combat: +this.value } }
        "
      />
    </audio-grid>

    <hr menu-divider />

    <crow g="2" vertical w="full">
      <button secondary w="full" onclick="$.overlay = { name: 'releaseNotes' }">
        Release notes
      </button>
      <!-- if token -->
      <button
        primary
        w="full"
        onclick="
          document.cookie = 'token=; Max-Age=0';
          location.href = '/';
        "
      >
        Logout
      </button>
      <!-- /if -->
    </crow>
  </crow>
</card>

<style>
  audio-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: calc(var(--unit) * 1) calc(var(--unit) * 3);
    align-items: center;
    width: 100%;
  }

  audio-grid input[type='range'] {
    width: 100%;
    min-width: 0;
  }
</style>
