<script type="module">
  import config from '/js/config.js';
  import { notify } from '/js/actions.js';

  authLogin = async () => {
    if (!$.authCodeOfConduct) {
      notify({ error: 'you must to agree to the Code of Conduct in order to play' });
      return;
    }
    try {
      const t = await $.socket.sendAsync('user/login', { email: $.authEmail, password: $.authPassword });
      let expiration = '';
      if ($.authRememberMe) {
        const future = new Date();
        future.setDate(future.getDate() + 30);
        expiration = ` Expires=${future};`;
      }
      document.cookie = `token=${t};${expiration}`;
      $.token = t;
      notify({ success: 'Logged in successfully' });
    } catch (e) {
      notify(e);
    }
  };
</script>

<form onsubmit="event.preventDefault(); authLogin();">
  <crow g-2 mb-3>
    <input type="email" placeholder="Email" value="@[authEmail]" oninput="$.authEmail = this.value"
      required auth-input />
    <input type="password" placeholder="Password" value="@[authPassword]"
      oninput="$.authPassword = this.value" required auth-input />
    <button primary type="submit">Log in</button>
  </crow>
  <crow g-2 mb-2 left>
    <input type="checkbox" id="codeOfConduct" checked="@[authCodeOfConduct]"
      onchange="$.authCodeOfConduct = this.checked" />
    <label for="codeOfConduct" text-sm>I agree to the <a href="#"
        onclick="event.preventDefault(); $.overlay = 'CodeOfConduct'">Code of Conduct</a></label>
  </crow>
  <crow g-2 mb-2 left>
    <input type="checkbox" id="rememberMe" checked="@[authRememberMe]"
      onchange="$.authRememberMe = this.checked" />
    <label for="rememberMe" text-sm>Remember me</label>
  </crow>
</form>