<script type="module">

  window.authRegister = async (email, password) => {
    try {
      await $.socket.sendAsync('user/register', { email, password });
      notify({ success: 'Account was created. You can now log in.' });
    } catch (e) {
      notify(e);
    }
  };
</script>

<form onsubmit="event.preventDefault(); authRegister($.email, $.password).then(() => { $.mode = 'login' })">
  <crow g="2" mb="3">
    <input type="email" placeholder="Email" value="@[email]" oninput="$.email = this.value"
      required auth-input />
    <input type="password" placeholder="Password" value="@[password]"
      oninput="$.password = this.value" required auth-input />
    <button primary type="submit">Register</button>
  </crow>
  <p text-sm text-muted>
    Already have an account? <a href="#" primary
      onclick="event.preventDefault(); $.mode = 'login';">Log in</a>
  </p>
</form>
