<stay glass>
  <crow justify-between topbar>
    <logo px-2>
      Battle Brawlers
    </logo>
    <crow>
      <button tertiary
        onclick="$.settings = { ...$.settings, darkMode: !$.settings.darkMode }; document.body.toggleAttribute('dark', $.settings.darkMode)">
        <!-- if settings.darkMode -->
        <icon light text-yellow></icon>
        <!-- /if -->
        <!-- if !settings.darkMode -->
        <icon dark text-blue></icon>
        <!-- /if -->
      </button>
      <button tertiary onclick="$.overlay = 'GameMenu'">
        <icon cog></icon>
      </button>
      <!-- if token -->
      <label class="button" tertiary for="sidebar-toggle" hide sm:flex aria-label="Open sidebar">
        <icon menu></icon>
      </label>
      <!-- /if -->
    </crow>
  </crow>

  <!-- if isDev && token -->
  <accordion open="@[devbarOpen]">
    <accordion-content>
      <component src="/components/DevBar.html"></component>
    </accordion-content>
  </accordion>
  <!-- /if -->
</stay>



<style>
  [topbar] {
    flex-direction: row;
  }
</style>