@import 'tailwindcss';
@import './crow.css';
@import './stylecheat.css';
@import './Iconice.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Viga', sans-serif;
  --font-cinzel: 'Cinzel', serif;
  --font-cabin: 'Cabin', sans-serif;
  --font-berkshire: 'Berkshire Swash', sans-serif;
  --font-viga: 'Viga', sans-serif;
  --font-antonio: 'Antonio', sans-serif;
  --font-quantico: 'Quantico', sans-serif;
  --font-merienda: 'Merienda', cursive;
  --font-belanosima: 'Belanosima', sans-serif;
  --font-averia: 'Averia Serif Libre', serif;
  --font-spectral: 'Spectral SC', serif;
  --font-skranji: 'Skranji', cursive;
  --font-stoke: 'Stoke', serif;
  --font-finlandica: 'Finlandica', sans-serif;

  --color-brown-50: #efebe9;
  --color-brown-100: #d7ccc8;
  --color-brown-200: #bcaaa4;
  --color-brown-300: #a1887f;
  --color-brown-400: #8d6e63;
  --color-brown-500: #795548;
  --color-brown-600: #6d4c41;
  --color-brown-700: #5d4037;
  --color-brown-800: #4e342e;
  --color-brown-900: #3e2723;
}

@layer base {
  #sticky-bottom > div {
    display: contents;
  }
  body {
    @apply bg-background text-foreground flex min-h-screen overflow-x-hidden overflow-y-scroll;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-foreground font-['Cinzel'];
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-stone-300;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-stone-500;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-stone-500/90;
  }
}

@layer utilities {
  .glass {
    @apply rounded-md border border-white/50 bg-white/50 shadow-lg backdrop-blur-sm;
  }
  h1 {
    @apply text-2xl font-medium sm:text-4xl sm:tracking-[-0.0625rem] md:text-5xl md:tracking-[-0.0625rem];
  }
  h2 {
    @apply text-xl font-medium sm:text-3xl sm:tracking-normal md:text-4xl md:tracking-[-0.0625rem];
  }
  h3 {
    @apply text-lg font-medium sm:text-2xl md:text-3xl;
  }
  h4 {
    @apply text-base font-medium sm:text-lg md:text-2xl;
  }
  h5 {
    @apply text-sm font-medium sm:text-base md:text-lg;
  }
  h6 {
    @apply text-xs font-medium sm:text-sm md:text-base;
  }
}
