.stylecheat {
  /* ---- A.css ---- */
  a:is([primary], [secondary]) {
    outline-width: 0;
    transition: all 100ms ease-in-out;

    &[primary] {
      color: oklch(from var(--color-dark) calc(l/2 + 0.3) c h);
      text-decoration: none;
      text-decoration-color: oklch(from var(--color-dark) calc(l/2 + 0.2) c h);

      &:hover,
      &:focus {
        color: oklch(from var(--color-dark) calc(l/2 + 0.4) c h);
        text-decoration-color: oklch(from var(--color-dark) calc(l/2 + 0.4) c h);
      }
    }

    &[secondary] {
      color: oklch(from var(--color-light) calc(l/2 + 0.15 - 0.1 * var(--theme-sign)) c h);
      text-decoration-color: oklch(
        from var(--color-light) calc(l/2 + 0.15 - 0.1 * var(--theme-sign)) c h
      );

      &:hover,
      &:focus {
        color: oklch(from var(--color-light) calc(l/2 + 0.3 - 0.1 * var(--theme-sign)) c h);
        text-decoration-color: oklch(
          from var(--color-light) calc(l/2 + 0.3 - 0.1 * var(--theme-sign)) c h
        );
      }
    }

    &:focus-visible {
      outline-width: 3px;
      outline-color: oklch(from var(--color-dark) calc(l/2 + 0.4) c h);
    }
  }
  /* ---- Accordion.css ---- */
  accordion {
    display: grid;
    width: 100%;
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms ease-out;
  }

  accordion[open] {
    grid-template-rows: 1fr;
  }

  accordion > accordion-content {
    overflow: hidden;
  }
  /* ---- Button.css ---- */
  button:is([primary], [secondary], [tertiary]) {
    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
    gap: 4px;

    background-color: transparent;

    border-radius: var(--radius);
    padding: 6px 12px;
    outline-width: 1px;

    cursor: pointer;

    > * {
      margin-left: -8px;
      margin-right: -8px;
    }

    &[primary] {
      background-color: var(--primary);
      color: var(--primary-foreground);
      outline-color: oklch(from var(--primary) calc(l * (1 - 0.15)) c h);

      &:enabled:hover {
        background-color: oklch(from var(--primary) calc(l * (1 + 0.1 * var(--theme-sign))) c h);
        color: oklch(from var(--primary-foreground) calc(l * (1 + 0.1 * var(--theme-sign))) c h);
        outline-color: oklch(from var(--primary) calc(l * (1 + 0.075 * var(--theme-sign))) c h);
      }

      &:focus-visible:enabled {
        outline-width: 3px;
        outline-color: oklch(from var(--primary) calc(l * (1 + 0.075 * var(--theme-sign))) c h);
      }
    }

    &[secondary] {
      background-color: var(--background);
      color: var(--popover-foreground);
      outline-color: oklch(from var(--background) calc(l * (1 - 0.075)) c h);

      &:enabled:hover {
        background-color: oklch(from var(--background) calc(l * (1 - 0.1 * var(--theme-sign))) c h);
        color: oklch(from var(--popover-foreground) calc(l * (1 - 0.1 * var(--theme-sign))) c h);
        outline-color: oklch(from var(--background) calc(l * (1 - 0.075 * var(--theme-sign))) c h);
      }

      &:focus-visible:enabled {
        outline-width: 3px;
        outline-color: oklch(from var(--background) calc(l * (1 - 0.075 * var(--theme-sign))) c h);
      }
    }

    &[tertiary] {
      background-color: transparent;
      color: var(--popover-foreground);
      outline-color: transparent;
      text-decoration: underline;

      &:enabled:hover {
        background-color: oklch(from var(--background) calc(l * (1 - 0.1 * var(--theme-sign))) c h);
        color: oklch(from var(--popover-foreground) calc(l * (1 - 0.1 * var(--theme-sign))) c h);
        outline-color: oklch(from var(--background) calc(l * (1 - 0.075 * var(--theme-sign))) c h);
      }

      &:enabled:active {
        text-decoration: none;
        outline-color: transparent;
      }

      &:focus-visible:enabled {
        outline-width: 3px;
        outline-color: oklch(from var(--background) calc(l * (1 - 0.075 * var(--theme-sign))) c h);
      }
    }

    &:enabled:active {
      transform: translateY(1px);
    }

    &:enabled:active {
      outline-width: 1px;
      outline-color: var(--primary);
    }

    &:disabled {
      color: oklch(from var(--popover) calc(l * (1 - 0.5 * var(--theme-sign))) c h);
    }
  }
  /* ---- Card.css ---- */
  @layer base {
    card {
      display: flex;
      flex-direction: column;
      padding: calc(22px + 1px); /* sums to 12px with border */
      border: 1px solid var(--border);

      background-color: var(--card);
      color: var(--card-foreground);
      border-radius: calc(var(--radius) + 7px);
    }
  }
  /* ---- Checkbox.css ---- */
  input[type='checkbox'] {
    appearance: none;

    background-color: var(--input);
    border-radius: var(--radius);

    width: 24px;
    height: 24px;
    padding: 4px;

    vertical-align: top;

    &:before {
      content: '';
      display: block;
      aspect-ratio: 1;
      height: 100%;
      border-radius: var(--radius);
      background-color: oklch(
        from var(--primary) calc(l + (1 - (var(--theme-sign) + 1) / 2))
          calc(c * (1 * (var(--theme-sign) + 1) / 2)) h
      );
      transform: scale(0);
    }

    &:checked:before {
      transition: transform 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
      transform: scale(1);
    }
  }
  /* ---- Collective.css ---- */
  input:not([type='checkbox'], [type='radio'], [type='range'], [type='file']),
  input[type='file'],
  input[type='checkbox'],
  input[type='radio'],
  select,
  textarea,
  button:is([primary], [secondary], [tertiary]) {
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--border);
    outline-offset: 0;

    transition-property: outline-color, background-color, color;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;

    &::placeholder {
      font-weight: 400;
    }

    &:disabled {
      background-color: oklch(from var(--background) calc(l * (1 - 0.1 * var(--theme-sign))) c h);
      color: oklch(from var(--popover) calc(l * (1 - 0.5 * var(--theme-sign))) c h);
      /* This is needed for Input & Textarea, to actually respect the color in chrome */
      -webkit-text-fill-color: oklch(
        from var(--popover) calc(l * (1 - 0.5 * var(--theme-sign))) c h
      );
      outline-color: transparent;
      cursor: not-allowed;
    }
  }

  input:not([type='checkbox'], [type='radio'], [type='range'], [type='file']),
  input[type='range'],
  input[type='checkbox'],
  input[type='radio'],
  select,
  textarea {
    /* &:focus:enabled:not(:checked), */
    &:active:enabled:not(:checked),
    &:focus-visible:enabled {
      outline-width: 3px;
      outline-color: oklch(from var(--input) calc(l/2 + 0.4) c h);
    }
  }
  /* ---- Icon.css ---- */
  icon {
    --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 0 0' %3E%3Cpath fill='rgb(0,0,0)' d=''/%3E%3C/svg%3E");
    display: inline-block;
    width: 1em;
    aspect-ratio: 1;
    background-color: var(--color, currentColor);
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-size: cover;
  }
  /* ---- Label.css ---- */
  label:has(input[type='checkbox'], input[type='radio']) {
    display: flex;
    gap: 8px;
  }

  label:has(select, input:not([type='checkbox'], [type='radio'], [type='range'], [type='file'])) {
    display: grid;
  }

  label > select,
  label > input:not([type='checkbox'], [type='radio'], [type='range'], [type='file']) {
    grid-area: 1/1;
    padding-right: 30px;
  }

  label:has(:disabled) {
    color: oklch(from var(--popover) calc(l * (1 - 0.5 * var(--theme-sign))) c h);
    cursor: not-allowed;
  }

  label:has(
      select,
      input:not([type='checkbox'], [type='radio'], [type='range'], [type='file'])
    ):after {
    content: '';
    pointer-events: none;
    grid-area: 1/1;
    mask-position: calc(100% - 8px) center;
    mask-size: 14px auto;
    mask-repeat: no-repeat;
    background-color: var(--popover-foreground);
  }

  label:has(
      input:not([type='checkbox'], [type='radio'], [type='range'], [type='file']):placeholder-shown
    ):after {
    background-color: oklch(from var(--background) calc(l/2 + 0.3 - 0.1 * var(--theme-sign)) c h);
  }

  label:has(
		/* select:invalid, */
		select:disabled,
		/* input[type='text']:invalid, */
    input:not([type='checkbox'], [type='radio'], [type='range'], [type='file']):disabled
    /*input:not([type='checkbox'], [type='radio'], [type='range'], [type='file']):invalid*/
	):after {
    background-color: oklch(from var(--popover) calc(l * (1 - 0.5 * var(--theme-sign))) c h);
  }

  label:has(select):after {
    mask-image: var(--icon, var(--icon-down));
  }
  label:has(input:not([type='checkbox'], [type='radio'], [type='range'], [type='file'])):after {
    transition: background-color 150ms ease-in-out;
    mask-image: var(--icon, var(--icon-search));
  }
  /* ---- Radio.css ---- */
  input[type='radio'] {
    appearance: none;

    background-color: var(--input);
    border-radius: 50%;

    width: 24px;
    height: 24px; /* aspect-ratio: 1; doesn't seem to work for safari iphone */
    padding: 4px;

    vertical-align: top;

    &:before {
      content: '';
      display: block;
      aspect-ratio: 1;
      height: 100%;
      border-radius: 50%;
      background-color: oklch(
        from var(--primary) calc(l + (1 - (var(--theme-sign) + 1) / 2))
          calc(c * (1 * (var(--theme-sign) + 1) / 2)) h
      );
      transform: scale(0);
    }

    &:checked:before {
      transition: transform 100ms cubic-bezier(0.25, 0.1, 0.25, 1);
      transform: scale(1);
    }
  }
  /* ---- Range.css ---- */
  input[type='range'] {
    appearance: none;
    min-width: 216px;
    outline: 0;

    background-color: var(--input);
    border-radius: 12px;
    height: 6px;
    margin-top: 6px;
    border: 1px solid var(--border);

    vertical-align: top;

    &::-webkit-slider-thumb {
      appearance: none;
      outline: 0px inset transparent;
      outline-offset: 0;
      transition: outline 50ms ease-in-out;
      transition: outline 50ms ease-in-out;

      width: 24px;
      aspect-ratio: 1;
      background-color: oklch(
        from var(--primary) calc(l + (1 - (var(--theme-sign) + 1) / 2))
          calc(c * (1 * (var(--theme-sign) + 1) / 2)) h
      );
      border-radius: 50%;

      border: 4px solid var(--input);
      outline: 1px solid var(--border);
    }

    &:disabled {
      cursor: not-allowed;

      &::-webkit-slider-thumb {
        border-color: oklch(from var(--background) calc(l * (1 - 0.1 * var(--theme-sign))) c h);
        background-color: oklch(from var(--popover) calc(l * (1 - 0.5 * var(--theme-sign))) c h);
        outline-color: transparent;
      }
    }

    &:focus:enabled:not(:active) {
      outline: 0;

      &::-webkit-slider-thumb {
        outline: 3px solid oklch(from var(--input) calc(l/2 + 0.4) c h);
      }
    }
  }
  /* ---- Select.css ---- */
  select {
    min-width: calc(216px + 18px);
    appearance: none;

    background-color: var(--input);
    color: var(--popover-foreground);
    border-radius: var(--radius);

    padding: 6px 8px;

    &:invalid {
      color: oklch(from var(--background) calc(l/2 + 0.3 - 0.1 * var(--theme-sign)) c h);
    }
  }
  /* ---- Switch.css ---- */
  input[type='checkbox'][role='switch'] {
    width: 48px;
    outline-width: 0;

    background-color: var(--input);
    border-radius: 12px;

    &:before {
      transition: all 150ms ease-in-out;
      content: '';
      color: var(--primary-foreground);
      border-radius: 10px;
      transform: scale(1);
    }

    &:disabled:before {
      background-color: oklch(from var(--popover) calc(l * (1 - 0.5 * var(--theme-sign))) c h);
    }

    &:checked {
      background-color: var(--primary);
      outline-color: oklch(from var(--primary) calc(l * (1 + 0.075 * var(--theme-sign))) c h);

      &:focus-visible:enabled {
        outline-color: oklch(from var(--primary) calc(l * (1 + 0.075 * var(--theme-sign))) c h);
      }

      &:before {
        background-color: var(--primary-foreground);
      }
    }

    &:checked:before {
      margin-left: 24px;
    }

    &:active:enabled,
    &:focus-visible:enabled {
      outline-width: 3px;
    }
  }
  /* ---- TextArea.css ---- */
  textarea {
    min-width: calc(216px + 18px);

    background-color: var(--input);
    border-radius: var(--radius);
    color: oklch(calc((1 - var(--theme-sign)) * 0.5) 0 0);
    padding: 6px 8px;

    &:not(:disabled)::placeholder {
      color: oklch(from var(--background) calc(l/2 + 0.3 - 0.1 * var(--theme-sign)) c h);
    }
  }
  /* ---- TextInput.css ---- */
  input:not([type='checkbox'], [type='radio'], [type='range'], [type='file']) {
    min-width: 216px !important;

    background-color: var(--input);
    border-radius: var(--radius);
    color: var(--popover-foreground);
    padding: 6px 8px;

    &:not(:disabled)::placeholder {
      color: oklch(from var(--background) calc(l/2 + 0.3 - 0.1 * var(--theme-sign)) c h);
    }
  }
}
/* ---- Stylecheat.css ---- */
:root {
  --icon-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='currentColor'%3E%3Cpath fill='black' d='m420.75 202-185.5 185.25a15.844 15.844 0 0 1-22.5 0L27.25 202c-6.25-6.25-6.25-16.5 0-22.75L68.75 138a15.844 15.844 0 0 1 22.5 0L224 270.75 356.75 138a15.844 15.844 0 0 1 22.5 0l41.5 41.25c6.25 6.25 6.25 16.5 0 22.75'/%3E%3C/svg%3E");
  --theme-sign: 1;
}

.dark {
  --icon-down: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 448' fill='currentColor'%3E%3Cpath fill='white' d='m420.75 202-185.5 185.25a15.844 15.844 0 0 1-22.5 0L27.25 202c-6.25-6.25-6.25-16.5 0-22.75L68.75 138a15.844 15.844 0 0 1 22.5 0L224 270.75 356.75 138a15.844 15.844 0 0 1 22.5 0l41.5 41.25c6.25 6.25 6.25 16.5 0 22.75'/%3E%3C/svg%3E");
  --theme-sign: -1;
}
/* ---- Theme.css ---- */
:root {
  --background: oklch(0.9383 0.0042 236.4993);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.6397 0.172 36.4421);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.967 0.0029 264.5419);
  --secondary-foreground: oklch(0.4461 0.0263 256.8018);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9119 0.0222 243.8174);
  --accent-foreground: oklch(0.3791 0.1378 265.5222);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9022 0.0052 247.8822);
  --input: oklch(0.97 0.0029 264.542);
  --ring: oklch(0.6397 0.172 36.4421);
  --chart-1: oklch(0.7156 0.0605 248.6845);
  --chart-2: oklch(0.7875 0.0917 35.9616);
  --chart-3: oklch(0.5778 0.0759 254.1573);
  --chart-4: oklch(0.5016 0.0849 259.4902);
  --chart-5: oklch(0.4241 0.0952 264.0306);
  --sidebar: oklch(0.903 0.0046 258.3257);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6397 0.172 36.4421);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9119 0.0222 243.8174);
  --sidebar-accent-foreground: oklch(0.3791 0.1378 265.5222);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6397 0.172 36.4421);
  --font-sans: 'Geist', Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 4px;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2598 0.0306 262.6666);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.3106 0.0301 268.6365);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.29 0.0249 268.3986);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.6397 0.172 36.4421);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3095 0.0266 266.7132);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.3095 0.0266 266.7132);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.338 0.0589 267.5867);
  --accent-foreground: oklch(0.8823 0.0571 254.1284);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3843 0.0301 269.7337);
  --input: oklch(0.3843 0.0301 269.7337);
  --ring: oklch(0.6397 0.172 36.4421);
  --chart-1: oklch(0.7156 0.0605 248.6845);
  --chart-2: oklch(0.7693 0.0876 34.1875);
  --chart-3: oklch(0.5778 0.0759 254.1573);
  --chart-4: oklch(0.5016 0.0849 259.4902);
  --chart-5: oklch(0.4241 0.0952 264.0306);
  --sidebar: oklch(0.31 0.0283 267.7408);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.6397 0.172 36.4421);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.338 0.0589 267.5867);
  --sidebar-accent-foreground: oklch(0.8823 0.0571 254.1284);
  --sidebar-border: oklch(0.3843 0.0301 269.7337);
  --sidebar-ring: oklch(0.6397 0.172 36.4421);
  --font-sans: 'Geist', sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 3px;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
